{
  "extends": ["next", "eslint-config-prettier"],
  "rules": {
    "semi": ["error", "always"],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "no-trailing-spaces": ["error", { "ignoreComments": true }],
    "@next/next/no-img-element": "off"
  }
}
